<ion-view view-title="Gallery">
    <ion-header-bar align-title="center" class="bar-balanced">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title"><img src="images/logo.png" alt="logo" class="logo"></h1>
    </ion-header-bar>
    <ion-content>
        <div class="content" id="gallery">
        	Gallery goes here
        </div>
        <div class="btm-gap"></div>
    </ion-content>
	<div class="list-bottom show" id="btmTab"> 
    	<a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.map"> <i class="icon ion-location"></i> Map </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.review"> <i class="icon ion-ios-star"></i> Reviews </a>
  </div> 
</ion-view>
